{% extends "layout.html" %}

{% block body %}

    <h1>Register</h1>
    <form action="/register" method="post">
        <input type="text" required autocomplete="off" autofocus name="name" placeholder="Name">
        <select name="sport" required id="sport">
            <option disabled selected value="">Sport</option>
            {% for sport in sports %}
                <option value="{{sport}}">{{sport}}</option>
            {% endfor %}
        </select>
        <button type="submit">Register</button>
    </form>

{% endblock %}